:root {
    --bar-color: rgb(44, 44, 44);
}
* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
}

/* I want section header to stick to the top of the page */
nav {
    overflow: hidden;
    background-color: var(--bar-color);
    padding: 20px;
    display: block;
    text-align: center;
    /* position: fixed; */
    top: 0;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(54, 55, 56);
}

nav a {
    color: white;
    padding-right: 20px;
    background-color: black;
    padding: 20px;
    text-decoration: none;
}

/* nav buttons on the right of top header */
nav li {
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    float: right;
    padding-top: 15px;
}

nav a:hover {
    background-color: antiquewhite;
}

/* make look more appealing */
.name {
    color: white;
    float: left;
    background-color: black;
    font-weight: bolder;
    font-size: x-large;
    padding: 10px;
}

/* makes bar stick to top */
.sticky {
    position:sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bar-color);
    color: white;
    padding: 20px;
    width: 100%;
}

/* place section headers in middle */
h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section {
    width: 100%;
}



/* 
    I wand the first displayed application to be the biggest 
    the other ones will be smaller, when screen is smaller,
    make them all stack
*/

#other_work {
    background-image: url("../images/sample.jpg");
}

/* make top image cover its entire section */
#top_image {
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

.profile_picture {
    display: inline;
    height: 30vw;
    width: auto;
    border-radius: 35px;
    max-height: 350px;
    margin-top: 4vw;
    margin-bottom: 4vw;
}
.about {
    align-content: center;
    text-align: center;
    font-size: 4vw;
    color: white;
    /* width: 65%; */
}

.about p {
    margin: 4vw;
}

div a {
    text-decoration: none;
}

/* I want header to be on top corner of containing div */
div h3 {
    color: white;
    font-size: 2vw;
    overflow: hidden;
}

.projects_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.first_project {
    display: flex;
    border: 10px solid black;
    width: 80%;
    height: 60vw;
    margin-top: 60px;
    margin-bottom: 20px;
    overflow: hidden;
    background: url("../images/homr-home-page.JPG") center no-repeat;
    background-size: 100% 100%;
}
.first_project:hover {
    box-shadow: inset 0px 0px 8px #fff, 0 0 15px #fff;
}

.project_text {
    background-color: black;
    height: 6vw;
    /* width: 25%; */
    color: white;
    padding: 1vw;
    overflow: hidden;
    font-size: 1.5vw;
}
.project {
    display: flex;
    border: 10px solid black;
    width: 40%;
    height: 20vw;
    padding: 10px;
    overflow: hidden;
    margin: 2px;
    background-size: 100% 100%;
    margin-bottom: 15px;
}
.project:hover {
    box-shadow: inset 0px 0px 8px #fff, 0 0 15px #fff;
}

/* I want the images to completely cover the entire div area */
#project2 {
    background: url("../images/tictacto.png") center no-repeat;
}
#project3 {
    background: url("../images/chimpfist.jpg") center no-repeat;
}
#project4 {
    background: url("../images/calculator.jpg") center no-repeat;
}
#project5 {
    background: url("../images/sudoku-solver-using-excel.gif") center no-repeat;

}
#project6 {
    background: url("../images/in_progress.png") center no-repeat;
}

.contact {
    font-size: 3vw;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

/* change anchor color when mouse hovers over it */
.contact a {
    color: white;
}
.contact a:hover {
    color: blueviolet;
}

/* prevent text from looking too big on biger creens */
@media screen and (max-width: 5000px){
    .about {
        font-size: 2vw;
    }
}

/* paragraph looks bigger when screen is narrower */
@media screen and (max-width: 768px){
    header {
        text-align: center;
    }
    .project {
        width: 80%;
    }
    .about {
        font-size: 3vw;
    }
}

