* {
    box-sizing: border-box;
}
/* i want the nav bar to stay on the top of the page */

main {
    display: flex;
    flex-wrap: wrap;
}
nav {
    overflow: hidden;
    background-color: rgb(65, 0, 218);
    padding: 20px;
    display: block;
    text-align: center;
    /* position: fixed; */
    top: 0;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: white;
    padding-right: 20px;
    background-color: black;
    padding: 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: antiquewhite;
}


.name {
    color: white;
    float: left;
    background-color: blueviolet;
    font-weight: bolder;
    font-size: x-large;
    padding: 10px;
}

nav li {
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    float: right;
    padding-top: 15px;
}

section {
    display: flex;
    width: 100%;
}

section h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    float: left;
    /* padding-left: 25px; */
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

section p {
    font-size: 25px;
    padding: 20px;
    float: right;
    padding-top: 100px;
    display: inline;
}

section div {
    float: right;
    width: 80%;
}

aside {
    display: flex;
    /* float: left; */
    background-color: rgb(3, 68, 124);
    height: 100%;
    width: 15%;
    justify-content: center;
}
aside h2 {
    padding-top: 100px;
    /* justify-items: center; */
    justify-content: center;
}

#first_work {
    width: 70%;
}

#other_work {
    background-image: url("../images/sample.jpg");
}
